[Unit]
Description=Bedtime notification timer

[Timer]
OnCalendar=*-*-* 22..23:00:00
OnCalendar=Mon..Fri *-*-* 00..02:00,15,30,45:00
OnCalendar=Sat,Sun *-*-* 00..03:00:00
Unit=bedtime.service

[Install]
WantedBy=timers.target
