[Unit]
Description=Remove after-hours i3 lockout timer

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true
Unit=remove-lockout.service

[Install]
WantedBy=timers.target
