[Unit]
Description=Teleirc Telegram to IRC bridge bot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /usr/bin/teleirc
Restart=always

[Install]
WantedBy=default.target

