alias 7z0='7z a -t7z -mx=0'
alias 7z1='7z a -t7z -mx=1'
alias 7z3='7z a -t7z -mx=3'
alias 7z5='7z a -t7z -mx=5'
alias 7z7='7z a -t7z -mx=7'
alias 7z9='7z a -t7z -mx=9'
alias diff='colordiff -ur'
alias dotfiles='git --git-dir="$HOME/Projects/dotfiles.git" --work-tree="$HOME"'
alias du='du -sch --apparent-size'
alias feh='feh --draw-tinted --info "echo \"[%u/%l] %f\"" -Z -.'
alias fix-perms='find -type d -exec chmod 755 "{}" \; && find -type f -exec chmod 644 "{}" \;'
alias less='less -S'
alias ls='ls --color=auto'
alias mkdir='mkdir -p'
alias mv='mv -nv'
alias q1='clear && ls -1'
alias q1a='clear && ls -1A'
alias q='clear && ls -lh'
alias qa='clear && ls -lAh'
alias qs='clear && ls'
alias qsa='clear && ls -A'
alias rm='rm -v'
alias rmdirs='find -depth -mindepth 1 -type d -exec rmdir "{}" --ignore-fail-on-non-empty \;'
alias rs='rsync -avhPS --stats --exclude-from="$HOME/.rsync_exclusions"'
alias rsz='rsync -avhzPS --stats --exclude-from="$HOME/.rsync_exclusions"'
alias sdu='sudo du -sch --apparent-size'
alias srmdirs='sudo find -depth -mindepth 1 -type d -exec rmdir "{}" --ignore-fail-on-non-empty \;'
alias srs='sudo rsync -avhPS --stats --exclude-from="$HOME/.rsync_exclusions"'
alias srsz='sudo rsync -avhzPS --stats --exclude-from="$HOME/.rsync_exclusions"'
alias t='task'
alias tt='time-tracking'
alias tw='timew'
alias tunnel-start='tmux new-session -s tunnel $HOME/.tunnel'
